@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>Hoşgeldiniz !</h1>
    <p class="lead">Bu projemizde aktif bir OKUL YÖNETİM SİSTEMİ yaptık. Sistem içeriklerine Navigation Bar üzerinden ve aşağıdaki açıklamalardan erişebilirsiniz.</p>
    <p><a href="/Ogrenci/Index/" class="btn btn-primary btn-lg">Sisteme Giriş için Tıklayınız &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Öğrenci Yönetim Sayfası</h2>
        <p>
            Öğrencilerin bilgilerine erişmek için kullandığımız sayfa.
        </p>
        <p><a class="btn btn-default" href="/Ogrenci/Index/">Erişmek İçin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Okul Yönetim Sayfası</h2>
        <p>Okulda çalışan görevlilere erişim ve edit işlemleri için kullanacağımız sayfa.</p>
        <p><a class="btn btn-default" href="/Personal/Index/">Erişmek İçin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Öğrencilere ve Derslere Erişim & Edit</h2>
        <p>Öğrencilere ve aldıkları derslere erişmek için kullandığımız sayfa.</p>
        <p><a class="btn btn-default" href="/OgrenciDers/Index/">Erişmek için &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Derslere ve Dersi Veren Öğretim Görevlilerine Erişim </h2>
        <p>Öğrencilere ve aldıkları derslere erişmek için kullandığımız sayfa.</p>
        <p><a class="btn btn-default" href="/Ders/Index/">Erişmek için &raquo;</a></p>
    </div>
</div>